<div class="container fixedContainerr">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <div class="profile-userpic">
          <img src="assets/images/admin.jpg" class=" img-thumbnail img-circle img-responsive" alt="">
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            ADMIN
          </div>
          <div class="profile-usertitle-job">
            Charge par l'administration de MLM
          </div>
        </div>
        <div class="profile-userbuttons">
          <button type="button" class="btn btn-success btn-sm">Follow</button>
          <button type="button" class="btn btn-danger btn-sm">Message</button>
        </div>
        <br>
        <div class="profile-usermenu">
          <table class="table" style="height: 100px">
            <thead class="thead-light"></thead>
            <tbody>
            <tr>
              <td colspan="2">Nom complet</td>
              <td>SAKIF Nabil</td>
            </tr>
            <tr>
              <td colspan="2">E-mail</td>
              <td>sakif.nabil@gmail.com</td>
            </tr>
            <tr>
              <td colspan="2">rejoint</td>
              <td>20/05/2019</td>
            </tr>
            <tr>
              <td colspan="2">Sous-clients</td>
              <td>6 membres</td>
            </tr>
            <tr>
              <td colspan="2">Estimation CA/mois</td>
              <td>10000 DH/mois</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content fixedContainerrr">
        <div class="fixedContainer">
          <div class="panel panel-primary">
            <div class="page-header" style="color:darkgreen; font-size: 20px">Les transactions</div>
            <div class="panel-body">
              <table  class="table">
                <thead class="thead-light">
                <tr>
                  <td>gauche</td>
                  <td>droit</td>
                  <td>Achats</td>
                  <td>Gagne sur equipe</td>
                  <td>Bonus mensuel</td>
                  <td>derniere achat</td>
                  <td>CA du mois precedent</td>
                </tr>
                </thead>
                <tbody>
                <tr >

                  <td>hello</td>
                  <td>gauche</td>
                  <td>gauche</td>
                  <td>gauche</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


